<hr />
<footer>
    <div class="container">    
        <div class="row">
            <div class="col ">
                <ul class="list-inline text-center">
                    <% if (theme.github) { %>
                    <li class="list-inline-item">
                        <a href="<%-theme.github%>" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <% } %>
                    <% if (theme.twitter) { %>
                    <li class="list-inline-item">
                        <a href="<%-theme.github%>" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <% } %>
                    <% if (theme.facebook) { %>
                    <li class="list-inline-item">
                        <a href="<%-theme.github%>" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <% } %>
                </ul>
                <p class="copyright text-muted">&copy; <%= theme.title %> <%= date(new Date(), 'YYYY') %> <br></p>
            </div>
        </div>
    </div>
</footer>